<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <button id="theme-toggle" class="theme-toggle"  type="button">
        🌙
    </button>

    <div class="auth-container">

        <h1>
            Create Account
        </h1>

        <p>
            Register for Employee Management System
        </p>


        <form action="/register_user" method="POST">

            <label>
                Full Name
            </label>

            <input type="text" name="fullname" placeholder="Enter full name" autocomplete="off" required>


            <label>
                Username
            </label>

            <input type="text" name="username" placeholder="Enter username" autocomplete="off" required>


            <label>
                Email
            </label>

            <input type="email" name="email" placeholder="Enter email" autocomplete="off" required>


            <label>
                Password
            </label>

            <input type="password" name="password" placeholder="Enter password" autocomplete="off" required>


            <div class="button-group">

                <button type="submit" class="add-btn">

                    Register

                </button>

                <button type="reset" class="reset-btn">

                    Reset

                </button>

            </div>

        </form>


        <p class="auth-link">

            Already have an account?

            <a href="/login">
                Login
            </a>

        </p>

    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>